<div class="recipient-list">
	<div class="recipients-panel">
		<span class="recipient-box" v-for="recipient in recipients">
			{{recipient._storeName +' : '+ recipient.defaultRole.name + ':'+ recipient.displayName}}
			<span class="remove-btn" v-on:click="handleRemove(recipient)">X</span>
		</span>
		<span v-for="enterpriseRecipient in enterpriseRecipients">
			{{enterpriseRecipient.storeSet +' : '+ enterpriseRecipient.role.name}}
			<span class="remove-btn" v-on:click="handleRemoveEnterprise(enterpriseRecipient)">X</span>
		</span>
	</div>
	<div class="clear-all" v-on:click="handleRemoveAll">Clear All</div>
	<div class="clearFix"></div>
</div>
