<div class="modal fade"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          v-on:click="handleCloseClicked"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please provide your email address</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" v-bind:class="{'has-error': !!validationMsg}">
            <input type="email"
              class="form-control"
              placeholder="Email"
              v-model="email"
              v-on:keydown.enter.stop.prevent="handleOkClicked">
              <label class="control-label" ng-show="!!validationMsg">{{validationMsg}}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal"
          v-on:click="handleNotNowClicked">Not now</button>
        <button type="button"
          class="btn btn-primary"
          v-on:click="handleOkClicked">Ok</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
