.loadingWheel{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  background-image: url('/Image?name=loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
